<div class="loading-shade" *ngIf="!votante">
  <mat-spinner></mat-spinner>
</div>

<div class="main-container" *ngIf="votante">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar [svgIcon]="votante.gender | avatar"> </mat-icon>
      <mat-card-title>
        {{ votante.firstName }} {{ votante.lastName }}
      </mat-card-title>
      <mat-card-subtitle>
         Fecha de Nacimiento: {{ votante.birthDate | date }}
      </mat-card-subtitle>
    </mat-card-header>
    <br />
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle> Número de Identidad</span>
          <span matListItemLine> {{ votante.identidad }}</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Genero</span>
          <span matListItemLine> {{ votante.gender | gender }}</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Número de telefono</span>
          <span matListItemLine> {{ votante.phoneNumber }}</span>
        </mat-list-item>

        <mat-list-item>
          <span matListItemTitle>Municipio</span>
          <span matListItemLine> {{ votante.country | municipios }}</span>
        </mat-list-item>

        <mat-list-item>
          <span matListItemTitle>Estado de  identidad</span>
          <span matListItemLine> {{ votante.identityStatus | IDstatus }}</span>
        </mat-list-item>

      </mat-list>
    </mat-card-content>
  </mat-card>

  <!--  <form [formGroup]="vtForm">
    <mat-accordion multi>
      <mat-expansion-panel [expanded]="panel === 0" (opened)="setPanel(0)">
        <mat-expansion-panel-header>
          <mat-panel-title> Datos Generales </mat-panel-title>

          <mat-panel-description>
            <span class="spacer"></span>
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombres</mat-label>
            <input matInput readonly type="text" formControlName="firstName" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Apellidos</mat-label>
            <input matInput readonly type="text" formControlName="lastName" />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input
              matInput
              readonly
              formControlName="birthDate"
              [matDatepicker]="picker"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year"></mat-datepicker>
          </mat-form-field>
        </div>

        <div *ngIf="listBoxesData$ | async as matSelectData">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Genero</mat-label>
            <mat-select formControlName="gender" readonly name="gender">
              <mat-option

                *ngFor="let gender of matSelectData[0]"
                [value]="gender.id"
              >
                {{ gender.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Número de telefono</mat-label>
            <input readonly matInput type="tel" formControlName="phoneNumber" />
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="panel === 2" (opened)="setPanel(2)">
        <mat-expansion-panel-header>
          <mat-panel-title>Datos de identidad</mat-panel-title>
          <mat-panel-description>
            <span class="spacer"></span>
            <mat-icon>map</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Número de identidad</mat-label>
            <input readonly matInput type="text" formControlName="identidad" />
          </mat-form-field>
        </div>

        <div *ngIf="listBoxesData$ | async as matSelectData">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Estado de identidad</mat-label>
            <mat-select formControlName="identityStatus" name="identityStatus">
              <mat-option
                *ngFor="let idStatus of matSelectData[2]"
                [value]="idStatus.id"
              >
                {{ idStatus.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Municipio</mat-label>
            <mat-select formControlName="country" name="country">
              <mat-option
                *ngFor="let county of matSelectData[1]"
                [value]="county.id"
              >
                {{ county.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form> -->
</div>
